/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Jul-2021, 12:09:59 PM
    Author     : Dell
*/
body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,robotic;
    box-sizing: border-box;
}
.header{
    text-align: center;
    color: #2c3531;
}
.outer-bg{
    background-color: #116466;
    background-size: 100% 100%;
    padding: 3%;
}
.inner-bg{
    background-color: #d9b08c;
    background-size: 100% 100%;
    padding: 5%;
    height: 100%;
}
.main{
    background-image: url("image/main.jpg");
    background-repeat: no-repeat;
    padding: 10%;
    
    background-size: 100% 100%;
   }
   .bg-text{
       text-align: center;
       color: white;
       font-size: 50px;
       border: 10px #116466 solid;
       opacity: 0.8;
       background-color: #ddd;
   }
.container{
    margin: 50px;
    padding: 20px;
    background-color:#ddd;
    border-radius: 5px;
    width: 50%;
    height: 75%;
}
.form-header{
       background-color: #d1e8e2;
       background-size: 100% 100%;
       margin:12px;
       height: 100px;
       padding: 20px;
       text-align: center;
       color: #2c3531;
}
a{
    text-decoration: none;
    color: #2c3531;
}
.list{
    margin: 12px;
    background-color: #ffcb9a;
}
ol {
  margin: 0;
  padding: 0;
}

ol li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ol li:nth-child(odd) {
  background: #f9f9f9;
}

ol li:hover {
  background: #ddd;
}


ol li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ol li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.list-header {
  background-color: #d1e8e2;
  padding: 30px 40px;
  color: #116466;
  text-align: center;
}

.list-header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}